.header-btn:hover {
  color: var(--light);
  border: 2px solid var(--grey);
  transition: 0.3s;
}

.card-btn:hover {
  background-color: var(--dark);
  color: #ffffff;
  border: 2px solid var(--grey);
  transition: 0.3s;
}

.footer-content > a:hover {
  text-decoration: underline;
}

.social-icon > i:hover {
  transition: 0.3s;
  color: #000000;
}

.list-item-link:hover {
  background-color: #eaf6f6;
}
