@media only screen and (max-width: 850px) {
  .nav-list {
    display: none;
  }
  .menubar {
    display: block;
  }
}

@media only screen and (max-width: 1207px) {
  .card,
  .about-para {
    max-width: 48%;
    min-width: 320px;
  }
}

@media only screen and (max-width: 787px) {
  #project,
  #certificate,
  #about,
  #contact {
    padding: 3rem 1rem;
  }
  nav {
    padding: 1rem;
  }
  .card,
  .about-para {
    max-width: 100%;
    min-width: 320px;
  }
}
