/* For heading  */
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600;700;900&display=swap");
/* Button font  */
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;400;600;800&display=swap");
/* container font  */
@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@200;400;600;800&display=swap");
/* Paragraph */
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}

:root {
  --defultpadding: 4rem;
  --card-btn-font: "Cairo", sans-serif;
  --link-font: "Prompt", sans-serif;
  --container-header-font: "Titillium Web", sans-serif;
  --parafont: "Varela Round", sans-serif;
  --light-grey: #8d8d8d;
  --grey: #7d7d7d;
  --light-blue: #cad5e2;
  --light-sky: #cadaed;
  --light: #fbfeff;
  --dark: #171c24;
  --white: #ffffff;
  --footer-color: #c3c3c3;
}

/* ------------- Top Page design ------------ */
#particles-js {
  background-color: var(--dark);
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-container {
  color: var(--light);
  position: absolute;
  top: 35%;
  text-align: center;
}

.header-container > h2 {
  font-family: var(--link-font);
  font-size: 45px;
  font-weight: 500;
  letter-spacing: 1px;
}

.header-container > p {
  font-family: var(--parafont);
  color: var(--light-grey);
}

.header-btn {
  padding: 10px 30px;
  margin-top: 40px;
  border: 1px solid var(--light-blue);
  font-family: var(--link-font);
  font-size: 20px;
  cursor: pointer;
  font-weight: 400;
  color: var(--light-blue);
  background-color: transparent;
}
/* ----------------------------- */
/* -------------- Navbar ---------------- */
nav {
  padding: 1rem var(--defultpadding);
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  background-color: var(--white);
}

.menubar {
  display: none;
}

.menubar > i {
  font-size: 30px;
  cursor: pointer;
}

.brand {
  flex-grow: 1;
  font-size: 22px;
}
.brand > a {
  font-family: var(--card-btn-font);
  font-weight: 900;
  color: var(--dark);
}

.nav-list {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.list-item {
  margin: 0 5px;
}

.list-item-link {
  color: var(--grey);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 20px;
  border-radius: 5px;
  font-size: 18px;
  font-family: var(--link-font);
  font-weight: 500;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.nav-list > li:nth-child(1) > .list-item-link {
  color: var(--light-grey);
  font-weight: 500;
}

/* --------- Body ---------- */
.body {
  background-color: var(--light);
}
/* ----------------------------- Reusable components --------------------------------- */
.main-heading {
  text-align: center;
  font-family: var(--container-header-font);
  font-size: 35px;
  padding: 10px 0;
  color: var(--dark);
}

.main-subheading {
  font-family: var(--parafont);
  text-align: center;
  color: var(--grey);
}

.card-container {
  background-color: var(--light);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 3.5rem 0;
}

.card {
  display: inline-block;
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
  border-radius: 7px;
  max-width: 30%;
  min-width: 350px;
  padding: 20px 10px;
  margin: 20px 10px 0 0;
  overflow: hidden;
  background-color: var(--white);
}

.card-img-sec > img {
  width: 100%;
  border-radius: 5px;
}

.project-box > hr {
  height: 3px;
  background-color: var(--dark);
}

.card-content {
  padding-left: 20px;
}

.card-content > h1 {
  font-family: var(--container-header-font);
  color: var(--dark);
  margin: 10px 0;
  font-size: 22px;
  display: flex;
  justify-content: space-between;
}

.card-icon {
  margin-right: 15px;
}
.card-icon > i {
  margin: 0 10px;
  font-size: 25px;
  cursor: pointer;
}

.card-content > p {
  font-family: var(--parafont);
  margin: 10px 0;
  color: var(--grey);
}

.card-btn-sec {
  margin: 20px 0;
}

.card-btn {
  padding: 1px 18px;
  font-size: 15px;
  border-radius: 5px;
  cursor: pointer;
  border: 2px solid var(--grey);
  color: var(--grey);
  font-family: var(--card-btn-font);
  font-weight: 700;
}

.card-btn > i {
  margin-right: 5px;
}

.html {
  color: #e54c20;
}

.css {
  color: #2e4bd2;
}

.font-awesome-icon {
  color: #2083da;
}

.ml-10 {
  margin-left: 20px;
}
/* ----------------------------------------------- */

/* ------ Project section ------  */
#project {
  padding: 3rem var(--defultpadding);
  z-index: -1;
}
/* ------------- Certificate --------------- */

#certificate {
  padding: 2rem var(--defultpadding);
}

.justify-content-center {
  justify-content: center;
}
.mlr {
  margin: 0 30px;
}
/* --------------- About section -------------- */

#about {
  padding: 2rem var(--defultpadding);
  background-color: var(--light-sky);
}

.my-image {
  text-align: center;
}

.about-content {
  width: 100%;
  display: flex;
  justify-content: center;
}

.my-image > img {
  width: 100px;
  border-radius: 25px;
}

.about-para {
  max-width: 80%;
}
/* ------------------- Contact ---------------------- */

#contact {
  padding: 2rem var(--defultpadding);
  text-align: center;
}

.contact-icon {
  margin: 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.social-icon {
  margin: 0px 20px;
}
.social-icon > i {
  font-size: 25px;
  color: var(--grey);
}

/* ----------- Footer ------------- */

#footer {
  padding: 1rem var(--defultpadding);
  text-align: center;
  background-color: var(--footer-color);
}

.footer-content {
  font-family: var(--parafont);
}

.footer-content > a {
  color: #000;
}
